---
dateTime: {{dateTime}}
year: {{year}}
month: {{month}}
day: {{day}}
time: {{time}}
title: {{title}}
{{#if categories}}
categories:
{{#each categories}}
  - {{this}}
{{/each}}
{{/if}}
{{#if tags}}
tags:
{{#each tags}}
  - {{this}}
{{/each}}
{{/if}}
featured: false
{{#if coverPhoto}}
coverPhoto: {{coverPhoto}}
coverPhotoAlt: {{coverPhotoAlt}}
{{/if}}
---

{{{content}}}
